:root {
  font-family: "aileron", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Site Styling */

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --accent-color: #fa990a;
  }
}

body {
  font-family: "aileron", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--accent-color);
}

#app {
  background: var(--background-color);
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  height: 95vh;
  text-align: center;
}

h1 {
  margin: 0.5em;
  font-weight: 800;
  letter-spacing: -0.05em;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1
}

.level-button {
  flex-grow: 1;
  display: block;
  padding: 10px;
  margin: 2% 0;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  border-radius: 20px;
  animation: fadeIn 0.6s;
}

.button-label {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.05em;
  margin: 10px;
}

.button-description {
  font-size: 16px;
  margin: 10px;
  font-weight: 800;
}

.level-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* Top */
}

.nav-header-container {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.question-container {
  justify-content: space-between;
  text-align: center;
}

.progress-bar-container {
  height: 30px;
  width: 100%;
  margin: 20px;
}

.nav-button {
  background-color: rgba(var(--accent-color), 0.5);
  align-items: left;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.question {
  color: var(--accent-color);
}

.progress-text {
  text-align: left;
  font-size: small;
  font-style: italic;
}

.progress-bar {
  width: 100%;
  overflow: hidden;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
}